{
	"useTabs": true,
	"singleQuote": true,
  "multiline-ternary": "always-multiline",
	"trailingComma": "none",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
}
